# Dependencies
node_modules/

# Build outputs
dist/

# Local databases
*.db
*.db-journal

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
